@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Playwrite+CU:wght@100..400&family=Sevillana&display=swap');

body{
    background-color: rgb(250, 236, 218);
    overflow-x: hidden; /*evitar que a pagina fique 'sobrando' para a direita*/
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;    
}

/*tela de navegação e logo*/

.content {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    position: fixed ;
    padding-left: 50px;
    z-index: 1;


}

.logo {
   width: 70px;
   height: auto;
   cursor: pointer;
   display: flex;
   align-items: center;
   padding-left: 20px;

}

.logo h3{
   color: beige;
   font-size: 20px;
   padding-left: 20px;
   white-space: nowrap;
}

.logo img {
    width: 100%;
    height: 100%;

}

.content .menunav{
     display: flex;
     align-items: center; /*alinhamento vertical*/
     justify-content: space-between;
     padding-left: 400px;
     padding-top: 20px;
     font-weight: bold;

}

.content .menunav li a {
    padding: 5rem 2rem 2rem 1rem ;
    color: beige;
    font-size: 25px;
    text-transform: uppercase; /*o conteudo vai estar em maiusculo*/
    transition: all 200ms ease-in ;
    text-decoration: none;

}

.content .menunav li a:hover {
    background-color: #3333;
    color: #f98e03;
}

/*conteudo principal (imagem e descrição)*/

.telaprincipal .imagemdescricao img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    filter: brightness(40%);
}

.imagemdescricao h1 {
    position: relative;
    bottom: 340px;
    left: 200px;
    color: rgb(255, 176, 130);
    font-size: 80px;
    font-family: 'Merienda', sans-serif;
    
}

.imagemdescricao h3 {
    position: relative;
    bottom: 300px;
    left: 190px;
    color: rgb(255, 206, 177);
    font-size: 25px;
    font-family: 'Merienda', sans-serif;


}

/*cardapio*/

.cardapio { /*preparar pra colocar o conteudo em linha horizontal*/
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cardapio .itens-cardapio {
    background-color: transparent;
    max-width: 300px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cardapio h2 {
    position: relative;
    bottom: 40px;
    font-size: 80px;
    display: flex;
    justify-content: flex-end;
    padding: 100px;
    color: rgb(73, 26, 4);   
    font-family: 'Nerko One', sans-serif;
}

.cardapio .itens-cardapio img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}

.cardapio .itens-cardapio h3 {
    font-size: 40px;
    font-family: 'Nerko One', sans-serif;
    color: rgb(99, 46, 26);
}

/*Espaço de leitura*/

.leitura {
    max-width: 80%;
    margin-left: 100px;
    top: 200px;
    position: relative;
}

.leitura h1 {
    display: flex;
    justify-content: flex-end;
    bottom: 450px;
    position: relative;
    font-size: 55px;
    font-family: 'Nerko One', sans-serif;
    left: 150px;
    color: rgb(72, 32, 12);
}

.leitura h3 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 400px;
    font-size: 30px;
    left: 130px;
    font-family: 'Nerko One', sans-serif;
    color: rgb(136, 62, 25);
}

/*Localização*/
.localizacao img{
    width: 800px;
    height: 600px;
    object-fit: cover;
    margin-left: 100px;
    top: 200px;
    position: relative;
}

.localizacao h1 {
    font-size: 80px;
    position: relative;
    bottom: 550px;
    margin-left: 100px;
    color: rgb(95, 47, 22);
    font-family: 'Nerko One', sans-serif;
}

.localizacao h3 {
    font-size: 50px;
    font-family: 'Nerko One', sans-serif;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 220px;
    bottom: 400px;
    color: rgb(94, 44, 5);
}

.localizacao p {
    font-size: 35px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 220px;
    bottom: 300px;
    color: rgb(117, 53, 4);
    font-family: 'Nerko One', sans-serif;
}

/*Sobre nós*/

.sobre img {
    width: 80%;
    height: auto;
    margin-left: 150px;
    margin-top: 200px;
    filter: brightness(40%);
    position: absolute;
    border-radius: 30px;
}

.sobre h1 {
    font-size: 80px;
    color: rgb(254, 165, 126);
    position: relative;
    z-index: 1;
    top: 300px;
    margin-left: 250px;
    font-family: 'Merienda', sans-serif;
}

.sobre p {
    font-size: 20px;
    color: rgb(250, 206, 189);
    position: relative;
    z-index: 1;
    top: 400px;
    margin-left: 250px;
    line-height: 30px;
}

.sobre h2 {
    font-size: 80px;
    color: rgb(105, 53, 26);
    position: relative;
    top: 150px;
    margin-left: 100px;
    font-family: 'Nerko One', sans-serif;}

/*rodape*/
footer {
    width: 100%;
    height: auto;
    position: relative;
    top: 500px;
    background-color: rgb(61, 23, 11);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 200px;
    font-family: 'Merienda', sans-serif;
}

.cafeteria h1 {
    font-size: 25px;
    margin-left: 300px;
    color: bisque;
    margin-top: 50px;
}

.cafeteria p {
    margin-left: 300px;
    font-size: 15px;
    color: rgb(251, 211, 162);
    margin-top: 8px;
}

.contato  h1{
    font-size: 25px;
    margin-left: 200px;
    color: bisque;
    margin-top: 50px;
}

.contato p {
    margin-left: 200px;
    font-size: 15px;
    color: rgb(251, 211, 162);
    margin-top: 8px;
}

.rede h1 {
    font-size: 25px;
    color: bisque;
    margin-left: 200px;
    margin-top: 50px;
}

.rede img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-left: 200px;
    margin-top: 10px;
}

.intagram p {
    margin-left: 250px;
    font-size: 15px;
    color: rgb(251, 211, 162);
    position: relative;
    bottom: 30px;
}

.facebook img {
    bottom: 15px;
    position: relative;
}

.facebook p {
    margin-left: 250px;
    font-size: 15px;
    color: rgb(251, 211, 162);
    position: relative;
    bottom: 40px;
}